html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 100%;
  font-weight: normal;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
  outline: 0;
  background: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  position: relative;
  height: 100%;
}

.screen {
  background-color: rgb(178, 227, 42);
  margin-top: 230px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 18px;
}

canvas {
  border: 2px solid black;
}

.menu {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-instructions {
  font-size: 16px;
  position: absolute;
  top: 20px;
}

.menu-snake {
  background-color: black;
  color: rgb(178, 227, 42);
  border-radius: 4px;
  padding: 5px 0;
  width: 85%;
  font-size: 22px;
}

.nokia {
  position: absolute;
}
